body {
  

background-image: url("KAWAI.jpg");
animation: mymove 3s  infinite;

}
@keyframes mymove {
  from { 
background-color: rgb(203,255,198);
}
  to {
background-color: rgb(249,251,202);
}
}



h1{
 

  margin-top: -20px;
  margin-bottom: 200px;
  margin-right: 600px;
  margin-left: 600px;
background-color: rgb(254,154,204);
animation: mymove 5s  infinite;

}
h3{
 

background-color: rgb(254,154,204);
animation: mymove 5s  infinite;

}

h2{
 

background-color: rgb(170,244,202);


}


p{
font-size: 170%
}

pre{
font-size: 150%
}

