body {
  

  background-image: url("RABBIT.PNG");
  animation: mymove 5s  infinite;
  
  }
  @keyframes mymove {
    from { 
  background-color: orange;
  }
    to {
  background-color: pink;
  }
  }
  
  
  h1{
   
    border-style: dashed;
    background-color: rgb(192, 255, 241);
    font-size: 300%;
  }
  
  
  