body {
  

background-image: url("RABBIT.PNG");
animation: mymove 5s  infinite;

}
@keyframes mymove {
  from { 
background-color: orange;
}
  to {
background-color: pink;
}
}


h3{
 

  margin-top: 50px;
  margin-bottom: 300px;
  margin-right: 600px;
  margin-left: 600px;
border-style: dashed;
animation: mymove 10s  infinite;
}


p{
font-size: 170%
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 20px 20px 30px;
  cursor: pointer;
}
