body {
  

background-image: url("RABBIT.PNG");
animation: mymove 5s  infinite;

}
@keyframes mymove {
  from { 
background-color: orange;
}
  to {
background-color: pink;
}
}

h4{
 
  color:red;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 600px;
  margin-left: 600px;
border-style: dashed;
animation: mymove 10s  infinite;
}
h1{
 
  
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 600px;
  margin-left: 600px;
border-style: dashed;
animation: mymove 10s  infinite;
}

h3{
 

  margin-top: 50px;
  margin-bottom: 300px;
  margin-right: 600px;
  margin-left: 600px;
border-style: dashed;
animation: mymove 10s  infinite;
}


p{
font-size: 170%
}


h2{

  margin-bottom: 50px;


}