<!DOCTYPE html>
<html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/home.css') }}">

    </link>
</head>
<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body class="w3-container">
    <h2>
        <center>Welcome to the restaurant TST
    </h2>
    <h2>
        <center>Made by Thai Nguyen, Erik, and TraXiMie
    </h2>
    <h3 style="text-align:center">
        <p style="font-size:170%" ;> PLEASE PICK 1 OPTION BELOW </p>
        <li><a href="{{ url_for('login') }}">LOG IN</a></li>
        <li><a href="{{ url_for('signup') }}">SIGN UP</a></li>
        <li><a href="{{ url_for('unregister') }}">START TO RESREVE (Unregister)</a></li>
    </h3>
</body>

</html>