<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/AccountCSS.css') }}">

    </link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body class="w3-container">

<h2 style="text-align:center;">Account Information</h2>





<!----------------------------------------THE BEGIN OF ON THE LEFT------------------------->


<h3 style="text-align:left;">
<li>
    <label for="First_Name">First Name:</label>
    <input name="first_name" id="First_Name" type="text" />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

 <label >Mailing Address</label>
</li><br>
<li>
    <label for="Name">Last Name:</label>
    <input name="last_name" id="Last_Name" type="text" /> 
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;
    <label for="Street">Street:</label>
    <input name="street" id="Street" type="text" />
</li><br>
<li>
    <label >Email: </label>
    <input  type="email" />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label for="City">City:</label>
    <input name="city" id="City" type="text" />
    <label for="State">State:</label>
    <input name="state" id="State" type="text" />
    <label for="Zip">Zip:</label>
    <input name="zip" id="Zip" type="text" />
</li><br>

<li>
    <label >Password: </label>
    <input  type="password" />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 <label >Billing Address:</label>
 <input  type="checkbox" />(check if same as mailing address)
</li><br>



<li>
    <label >Points earned: </label>
    <input  type="text" />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;
    <label for="Street">Street:</label>
    <input name="street" id="Street" type="text" />
</li><br>
<li>
    <label >Card Number (Optional): </label>
    <input  type="text" />
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <label for="City">City:</label>
    <input name="city" id="City" type="text" />
    <label for="State">State:</label>
    <input name="state" id="State" type="text" />
    <label for="Zip">Zip:</label>
    <input name="zip" id="Zip" type="text" />&emsp;
<label >Expiration date:</label>
<input  type="date" />
<label >CVV:</label>
<input  type="text" />
</li><br>
<li>
    <label >Phone Number (Optional): </label>
    <input  type="text" />

</li><br>

<li>
    <label >Preferred dinner size: </label>
    <input  type="text" />

</li><br>
</h3>

<!----------------------------------------THE END OF ON THE LEFT------------------------->











<h2 style="text-align:center;">
<a href="{{ url_for('login') }}" ><pre>Log out</pre></a>
<a href="{{ url_for('register) }}" ><pre>Return</pre></a>
</h2>



</body>
</html>
