<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/AccountCSS.css') }}">

    </link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body class="w3-container">

<h2 style="text-align:center;">Account Information</h2>





<!----------------------------------------THE BEGIN OF ON THE LEFT------------------------->


<h3 style="text-align:left;">
    <center>
<li>
    <label for="First_Name">First Name: {{ account.first_name }}</label>
</li>
<li>
    <label for="Name"> Last Name: {{ account.last_name }}</label>
</li>
<li>
    <label >Email: {{ account.email }}</label>
</li>
<li>
    <label >Password:  {{ account.password}}</label>
</li>
<li>
    <label >Phone Number: {{ account.phone }} </label>
</li>
<li>

  

</li><br>

    <label >Points earned: {{ account.points }} </label>
</li>
<li>
    <label >Preferred Payment Method: {{ account.payment}} </label>
</li>


<li>
    <label>Mailing Adress:</label>
    <br>
    <label for="Street">Street Adress: {{ account.street }}</label>
    <br>
    <label for="City">City: {{ account.city }}</label>
    <br>
    <label for="State">State: {{ account.state }}</label>
    <br>
    <label for="Zip">Zip: {{ account.zip }}</label>
</li>
<li>
    <label>Billing Adress:</label>
    <br>
    <label for="Street">Street Adress: {{ account.Bstreet }}</label>
    <br>
    <label for="City">City: {{ account.Bcity }}</label>
    <br>
    <label for="State">State: {{ account.Bstate }}</label>
    <br>
    <label for="Zip">Zip: {{ account.Bzip }}</label>
</li>
</center>

</h3>

<!----------------------------------------THE END OF ON THE LEFT------------------------->











<h2 style="text-align:center;">
<a href="{{ url_for('login') }}" ><pre>Log out</pre></a>
<a href="{{ url_for('register') }}" ><pre>Return</pre></a>
</h2>



</body>
</html>
