<!DOCTYPE html>
<html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/CONFIRM2.css') }}">

    </link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body class="w3-container">

    <h1 style="text-align:center;">
<br><br>
        THANK YOU FOR YOUR RESERVATION.<br>
        CONFIRMATION HAS SENT TO YOUR EMAIL.<br>
        You have reserved table(s): {{ input }} <br>
        <img src="static/css/Floor_Plan.png">
        <li>Do you want to sign up for an account?</li>
        <a href="{{ url_for('signup') }}">YES</a>
        <br>
        <a href="{{ url_for('home') }}" ;>NO
        </a>
<br><br>
    </h1>







</body>

</html>