<!DOCTYPE html>
<html>

<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
<link rel="stylesheet" href="{{ url_for('static',     filename='css/CONFIRM2.css') }}">

</link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->
<body >

<h1>
THANK YOU FOR YOUR RESERVATION.<br>
CONFIRMATION HAS SENT TO YOUR EMAIL.<br>
<li>Do you want to sign up:</li>
<a href="{{ url_for('signup') }}">YES</a>
<br>
<a href ="{{ url_for('confirm2') }}";>NO
</a>
</h1>







</body>
</html>

