<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>

<link rel="stylesheet" href="{{ url_for('static',     filename='css/TIME1.css') }}">

</link>

</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->
<body class="w3-container">


<h3 style="text-align:center;">
<b>

    THANK YOU FOR YOUR RESERVATION.<br>
    CONFIRMATION HAS SENT TO YOUR EMAIL. <br>
    You have reserved table(s): {{ input }} <br>
 <img src="static/css/Floor_Plan.png">
<!-- <input type="submit" value="Continue" style="height:50px; width:100px;text-align: center"/>-->


</h3>












</body>
</html>
