<!DOCTYPE html>
<html>

<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/LOGGIN.css') }}">

    </link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body>

    <h1>
        <center>TST (Log in)
    </h1>
    <h2>
        <center>Made by Thai Nguyen, Erik, and TraXiMie
    </h2>


    <h3 style="text-align:center;"><br>
        Incorrect Password, Please Try Again.
    <form action="{{ url_for("login")}}" method="post">
        <p><b>Email:</p>
        <input type="text" id="username" name="uname" required></input>
        <p><b>Password: </p>
        <input type="password" id="password" name="pname" required></input>
        <br><br>
        <input type="submit" value="Log in"></a>
    </form>

   
    
        <li><a href="{{ url_for('unregister') }}">Create Reservation as Guest</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up for an Account</a></li>
                
    
    </h3>
    


             



















</body>

</html>