<!DOCTYPE html>
<html>

<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
<link rel="stylesheet" href="{{ url_for('static',     filename='css/LOGGIN.css') }}">

</link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->
<body >

<h1><center>TST (Log in)</h1>
<h2 ><center>Made by Thai Nguyen, Erik, and TraXiMie </h2>
<form action="{{ url_for("login")}}" method="post">
 <p><b>User Name:</p>
 <input type="text" id="username" name="uname" ></input>
 <p><b>Password: </p>
 <input type="text" id="password" name="pname" ></input>
 <br><br>
 <input type="submit" value="Log in"></a>

<center><img src="Bun.jpg"; width="1500";>
<img src="Pho.jpg"; width="1500";>
</pre>






















</body>
</html>

