<!DOCTYPE html>
<html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>

  <link rel="stylesheet" href="{{ url_for('static',     filename='css/REGISTER1.css') }}">

  </link>

  <link rel="stylesheet" href="{{ url_for('static',     filename='css/REGISTER2.css') }}">

  </link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body class="w3-container">
  <h1 style="text-align:center;">
    RESERVATION PAGE
  </h1>

  <h3 style="text-align:center;">
    <a href="{{ url_for('ACCOUNT') }}";><pre style="font-size:20px;text-align:right;">Profile</pre></a>
    <pre style="font-size:35px;text-align:center;">INFORMATION</pre>
    <form action="{{ url_for("register")}}" method="post">
      <p><b>Date:</p>
      <input type="date" id="resdate" name="rdate"></input>
      <p><b>Party Size: </p>
      <select multiple size="4" id="size" name="psize">

        <option> ...1... </option>
        <option> ...2... </option>
        <option> ...3... </option>
        <option> ...4... </option>
        <option> ...5... </option>
        <option> ...6... </option>
        <option> ...7... </option>
        <option> ...8... </option>
        <option> ...9... </option>
        <option> ...10... </option>
        <option> ...11... </option>
        <option> ...12... </option>
      </select>
      <br><br>

      <!---<p><b>Party Size: </p>
      <input id="appt-time" type="time" name="appt-time" min="17:00" max="23:00"></input>
      --->

      <a href="{{ url_for('TIMEregister') }}" class="button">Continue</a>
  </h3>












</body>

</html>