<!DOCTYPE html>
<html>
  <title>Restaurant TST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>

  <link rel="stylesheet" href="{{ url_for('static',     filename='css/REGISTER1.css') }}">

  </link>
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/REGISTER2.css') }}">

  </link>

</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body class="w3-container">
  <h1 style="text-align:center;">
    RESERVATION PAGE
  </h1>

  <h3 style="text-align:center;">
      <a href="{{ url_for('home') }}";><pre style="font-size:20px;text-align:right;">Home</pre></a>
    <a href="{{ url_for('ACCOUNT') }}";><pre style="font-size:20px;text-align:right;">Profile</pre></a>





    <form action="{{ url_for("register")}}" method="post">
      <b>Date:<br>
      <input type="date" id="resdate" min="2021-12-03" max="2041-12-02" name="rdate"></input>
      <br><br><br><br>TIME:<br>
(The restaurant is open from 5pm to 11pm)
      <br><input id="appt-time" type="time" name="appt-time" min="17:00" max="23:00" step="900" required>
      <br> <br><br><br>
     
      Group Size:<br>
      <select multiple size="6" id="reservationsize" name="psize">


        <option   value="1">1   </option>
        <option   value="2">2   </option>
        <option   value="3">3   </option>
        <option   value="4">4   </option>
        <option   value="5">5   </option>
        <option   value="6">6   </option>
        <option   value="7">7   </option>
        <option   value="8">8   </option>
        <option   value="9">9   </option>
        <option   value="10">10   </option>
        <option   value="11">11   </option>
        <option   value="12">12   </option>
          
   
      </select><br><br><br>
 

  
      
      <input type="submit" value="Check Availibility"></a><br><br><br>
  </h3>












</body>

</html>