<!DOCTYPE html>
<html>

<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/SIGN UP1.css') }}">

    </link>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body>



   
        <h1 style="text-align:center;"><p>Thank You for Signing Up. You will be redirected to the login page shortly</p></h1>
        




  


</body>

</html>