<!DOCTYPE html>
<html>

<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/SIGN UP1.css') }}">

    </link>
    
    
    <h4 style="text-align:center;"><p>Email Already in Use, Please use a different email.</p></h4>
</head>

















<!-------------------------------------- This is a body of the page---------------------------------------------------->

<body>



    <h3 style="text-align:center;">
        <p>SIGN UP</p>
        <form action="{{ url_for("signup1")}}" method="post">
            <p><b>First Name:</p>
            <input type="text" id="first_name" name="fname" required></input>
            <p><b>Last Name: </p>
            <input type="text" id="last_name" name="lname" required></input>
            <p><b>Email:</p>
            <input type="email" id="email_adress" name="email" required></input>
            <p><b>Password:</p>
            <input type="password" id="password1" name="pword1" required></input>
            <h2>
                <input type="submit" value="Sign Up"></form></input><br><br>
                <a href="{{ url_for('home') }}">Home</a>
    
                </h2>


    </h3>


</body>

</html>