<!DOCTYPE html>
<html>

<!-------------------------------------- This is the head of the page---------------------------------------------------->

<head>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/UNREGISTER1.css') }}">

    </link>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/UNREGISTER2.css') }}">

    </link>
</head>

















<!-------------------------asdfasgasgasgasgsgas------------- This is a body of the page---------------------------------------------------->

<body>
    <h1 style="text-align:center;">
        RESERVATION PAGE
    </h1>


    <h3 style="text-align:center;">
        <pre style="font-size:35px;text-align:center;">CONTACT  and  INFO</pre>
        <form action="{{ url_for("unregister")}}" method="post">
            <p><b>First Name:</p>
            <input name="fname" id="First_Name" type="text" />
            <br><br>
            <p><b>Last Name: </p>
            <input name="lname" id="Last_Name" type="text" />
            <br><br>
            <p><b>Email:</p>
            <input name="email" id="emailadress" type="email" />
            <p><b>Date:</p>
            <input name="date" id="regdate" type="date" />
            <br><br>
            <p><b>Hour:</p>
            <input id="appt-time" type="time" name="appt-time" min="17:00" max="22:00" step="900" required>
            <p><b>Party Size:</p>
            <select multiple size="4" , id="partysize" name="size">

                <option   value="1">..1..  </option>
                <option   value="2">..2..   </option>
                <option   value="3">..3..   </option>
                <option   value="4">..4..   </option>
                <option   value="5">..5..   </option>
                <option   value="6">..6..  </option>
                <option   value="7">..7..   </option>
                <option   value="8">..8..   </option>
                <option   value="9">..9..   </option>
                <option   value="10">..10 ..  </option>
                <option   value="11">..11..   </option>
                <option   value="12">..12..   </option>
            </select>
            <br><br><br><br>
           <!------
            <p><b>Choose a reservation time (opening hours 05:00pm to 11:00pm):</p>
            <input id="appt-time" type="time" name="appt-time" min="17:00" max="23:00">
            <br><br>
            ---->

            <input type="submit" value="Continue"></a>


            <!-- <input type="submit" value="Continue" style="height:50px; width:100px;text-align: center"/>-->


    </h3>












</body>

</html>